In [12]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [13]:
# This is how to open a webbrowser from jupyter
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [14]:
# Copy and read data from the clipboard
nfl_frame = pd.read_clipboard()
# Variable = pd.read_clipboard()

/Users/randyhoang/anaconda3/lib/python3.6/site-packages/pandas/io/clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [4]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West
10,11,Pittsburgh Steelers,614,538,20,0.532,1933,"1,172",AFC North

In [5]:
# Returns the name of every single column

nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [6]:

nfl_frame.rank

<bound method NDFrame.rank of     Rank                     Team  Won  Lost  Tied   Pct.  First NFL Season  \
0      1           Dallas Cowboys  502   374     6  0.573              1960
1      2        Green Bay Packers  737   562    37  0.565              1921
2      3            Chicago Bears  749   579    42  0.562              1920
3      4           Miami Dolphins  445   351     4  0.559              1966
4      5  New England Patriots[b]  489   386     9  0.558              1960
5      6        Minnesota Vikings  470   390    10  0.546              1961
6      7         Baltimore Ravens  190   161     1  0.541              1996
7      8          New York Giants  687   585    33  0.539              1925
8      9           Denver Broncos  470   404    10  0.537              1960
9     10      San Francisco 49ers  528   460    14  0.534              1950
10    11      Pittsburgh Steelers  614   538    20  0.532              1933

   Total Games   Division
0          882   NFC East
1        1,336  NFC North
2        1,370  NFC North
3          800   AFC East
4          884   AFC East
5          870  NFC North
6          352  AFC North
7        1,305   NFC East
8          884   AFC West
9        1,002   NFC West
10       1,172  AFC North  >

In [15]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games'])

                       Team  First NFL Season Total Games
0            Dallas Cowboys              1960         882
1         Green Bay Packers              1921       1,336
2             Chicago Bears              1920       1,370
3            Miami Dolphins              1966         800
4   New England Patriots[b]              1960         884
5         Minnesota Vikings              1961         870
6          Baltimore Ravens              1996         352
7           New York Giants              1925       1,305
8            Denver Broncos              1960         884
9       San Francisco 49ers              1950       1,002
10      Pittsburgh Steelers              1933       1,172

In [16]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games', 'Stadium'])

                       Team  First NFL Season Total Games  Stadium
0            Dallas Cowboys              1960         882      NaN
1         Green Bay Packers              1921       1,336      NaN
2             Chicago Bears              1920       1,370      NaN
3            Miami Dolphins              1966         800      NaN
4   New England Patriots[b]              1960         884      NaN
5         Minnesota Vikings              1961         870      NaN
6          Baltimore Ravens              1996         352      NaN
7           New York Giants              1925       1,305      NaN
8            Denver Broncos              1960         884      NaN
9       San Francisco 49ers              1950       1,002      NaN
10      Pittsburgh Steelers              1933       1,172      NaN

In [17]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West
10,11,Pittsburgh Steelers,614,538,20,0.532,1933,"1,172",AFC North

In [18]:
nfl_frame.head(3)
# See first 3 rows .head() will default give 5 rows

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North

In [19]:
nfl_frame.tail(5)
# See last 5 rows with .tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West
10,11,Pittsburgh Steelers,614,538,20,0.532,1933,"1,172",AFC North

In [22]:
nfl_frame.iloc[3]
# use .iloc to return all the information about the row

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [23]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,Levi's Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,Levi's Stadium
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,Levi's Stadium
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,Levi's Stadium
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's Stadium
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,Levi's Stadium
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North,Levi's Stadium
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East,Levi's Stadium
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West,Levi's Stadium
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West,Levi's Stadium
10,11,Pittsburgh Steelers,614,538,20,0.532,1933,"1,172",AFC North,Levi's Stadium

In [27]:
nfl_frame['Stadium'] = np.arange(11)

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,0
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,1
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,2
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,3
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,4
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,5
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North,6
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East,7
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West,8
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West,9
10,11,Pittsburgh Steelers,614,538,20,0.532,1933,"1,172",AFC North,10

In [31]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index = [4,0])
# Assign the index to stadiums 4 and 0

In [32]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [33]:
nfl_frame['Stadium'] = stadiums
#Input stadiums into the table

In [34]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,AT&T Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,NaN
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,NaN
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,NaN
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's Stadium
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,NaN
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North,NaN
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East,NaN
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West,NaN
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West,NaN
10,11,Pittsburgh Steelers,614,538,20,0.532,1933,"1,172",AFC North,NaN

In [35]:
# Remove the column that we added 
del nfl_frame['Stadium']

In [36]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West
10,11,Pittsburgh Steelers,614,538,20,0.532,1933,"1,172",AFC North

In [37]:
data = {'City':['SF','LA','NYC'], 'Population':[837000, 3880000, 8400000]}

In [38]:
city_frame = DataFrame(data)

In [39]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [41]:
website = 'https://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True